<!DOCTYPE html>
<html>
<head>
    <title>Graphs Home</title>
    <link rel="stylesheet" href="../../static/graphs/styles.css">
</head>
<body>
    <div class="heading-div">
        <h1>Choose the graph you want to see</h1>
    </div>
<div class = "button-div">
    <button class="button-27" role="button"><a href = "matches-per-season/" style="color:white;">IPL Matches per Season</a></button>
    <button class="button-27" role="button"><a href = "wins-per-team/" style="color:white;">Wins per team per season</a></button>
</div>
</body>
</html>